{% extends 'base.html' %}
{% block content %}
<h2>Dersler</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Kodu</th>
            <th>Adı</th>
            <th>Bölüm</th>
            <th>Öğretim Üyesi</th>
            <th>Öğrenci Sayısı</th>
            <th>Türü</th>
            <th>Sınıf</th> <!-- EKLENDİ -->
        </tr>
    </thead>
    <tbody>
    {% for ders in dersler %}
        <tr>
            <td>{{ ders.ders_kodu }}</td>
            <td>{{ ders.ders_adi }}</td>
            <td>{{ ders.bolum.bolum_adi }}</td>
            <td>{{ ders.ogretmen.isim }}</td>
            <td>{{ ders.ogrenci_sayisi }}</td>
            <td>{{ ders.get_ders_turu_display }}</td>
            <td>{{ ders.get_sinif_display }}</td> <!-- EKLENDİ -->
        </tr>
    {% empty %}
        <tr>
            <td colspan="7" class="text-center">Henüz ders eklenmedi.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
